<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <img class="footer_img" src="{{ asset('img/logo/logo.png') }}" alt="footer-img">
            <div class="footer_info_wrapper">
                <div class="footer_initials_col">
                    <div class="footer_initials_box">
                        <p class="footer_initials_name">Віталій Джуринський</p>
                        <div class="footer_social_box">
                            <a class="footer_social" href="https://www.facebook.com/vdzhurynskyi" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.0448 12.8743L15.4082 10.3399H13.1361V8.69744C13.1361 8.00589 13.4518 7.33006 14.4685 7.33006H15.5V5.17289C15.5 5.17289 14.564 5 13.6683 5C11.7963 5 10.5776 6.21415 10.5776 8.41061V10.3399H8.5V12.8743H10.5776V19H13.1361V12.8743H15.0448Z" fill="inherit"></path>
                                </svg>
                            </a>
                            <a class="footer_social" href="https://www.instagram.com/vitaliidzhurynskyi/" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.1768 8.13928C14.7893 8.13928 14.4727 8.45596 14.4727 8.84338C14.4727 9.2308 14.7893 9.54748 15.1768 9.54748C15.5642 9.54748 15.8809 9.2308 15.8809 8.84338C15.8809 8.45596 15.5676 8.13928 15.1768 8.13928Z" fill="inherit"></path>
                                    <path d="M12.0507 9.04211C10.4202 9.04211 9.09619 10.3695 9.09619 11.9966C9.09619 13.6272 10.4235 14.9512 12.0507 14.9512C13.6812 14.9512 15.0052 13.6238 15.0052 11.9966C15.0052 10.3695 13.6812 9.04211 12.0507 9.04211ZM12.0507 13.8933C11.0063 13.8933 10.1574 13.0444 10.1574 12C10.1574 10.9556 11.0063 10.1067 12.0507 10.1067C13.0951 10.1067 13.944 10.9556 13.944 12C13.944 13.041 13.0951 13.8933 12.0507 13.8933Z" fill="inherit"></path>
                                    <path d="M14.3953 18H9.6047C7.61705 18 6 16.3829 6 14.3953V9.60472C6 7.61707 7.61705 6 9.6047 6H14.3953C16.3829 6 18 7.61707 18 9.60472V14.3953C18 16.3829 16.3829 18 14.3953 18ZM9.6047 7.12521C8.2403 7.12521 7.12857 8.23695 7.12857 9.60135V14.3919C7.12857 15.7563 8.2403 16.8681 9.6047 16.8681H14.3953C15.7597 16.8681 16.8714 15.7563 16.8714 14.3919V9.60135C16.8714 8.23695 15.7597 7.12521 14.3953 7.12521H9.6047Z" fill="inherit"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="footer_initials_box">
                        <p class="footer_initials_name">Олег Джуринський</p>
                        <div class="footer_social_box">
                            <a class="footer_social" href="https://www.facebook.com/oleg.dzhurynskyi" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.0448 12.8743L15.4082 10.3399H13.1361V8.69744C13.1361 8.00589 13.4518 7.33006 14.4685 7.33006H15.5V5.17289C15.5 5.17289 14.564 5 13.6683 5C11.7963 5 10.5776 6.21415 10.5776 8.41061V10.3399H8.5V12.8743H10.5776V19H13.1361V12.8743H15.0448Z" fill="inherit"></path>
                                </svg>
                            </a>
                            <a class="footer_social" href="https://www.instagram.com/olegdzhurynskyi/" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.1768 8.13928C14.7893 8.13928 14.4727 8.45596 14.4727 8.84338C14.4727 9.2308 14.7893 9.54748 15.1768 9.54748C15.5642 9.54748 15.8809 9.2308 15.8809 8.84338C15.8809 8.45596 15.5676 8.13928 15.1768 8.13928Z" fill="inherit"></path>
                                    <path d="M12.0507 9.04211C10.4202 9.04211 9.09619 10.3695 9.09619 11.9966C9.09619 13.6272 10.4235 14.9512 12.0507 14.9512C13.6812 14.9512 15.0052 13.6238 15.0052 11.9966C15.0052 10.3695 13.6812 9.04211 12.0507 9.04211ZM12.0507 13.8933C11.0063 13.8933 10.1574 13.0444 10.1574 12C10.1574 10.9556 11.0063 10.1067 12.0507 10.1067C13.0951 10.1067 13.944 10.9556 13.944 12C13.944 13.041 13.0951 13.8933 12.0507 13.8933Z" fill="inherit"></path>
                                    <path d="M14.3953 18H9.6047C7.61705 18 6 16.3829 6 14.3953V9.60472C6 7.61707 7.61705 6 9.6047 6H14.3953C16.3829 6 18 7.61707 18 9.60472V14.3953C18 16.3829 16.3829 18 14.3953 18ZM9.6047 7.12521C8.2403 7.12521 7.12857 8.23695 7.12857 9.60135V14.3919C7.12857 15.7563 8.2403 16.8681 9.6047 16.8681H14.3953C15.7597 16.8681 16.8714 15.7563 16.8714 14.3919V9.60135C16.8714 8.23695 15.7597 7.12521 14.3953 7.12521H9.6047Z" fill="inherit"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="footer_initials_box">
                        <p class="footer_initials_name">Олександр Джуринський</p>
                        <div class="footer_social_box">
                            <a class="footer_social" href="https://www.facebook.com/oleksandr.dzhurynskyi/" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.0448 12.8743L15.4082 10.3399H13.1361V8.69744C13.1361 8.00589 13.4518 7.33006 14.4685 7.33006H15.5V5.17289C15.5 5.17289 14.564 5 13.6683 5C11.7963 5 10.5776 6.21415 10.5776 8.41061V10.3399H8.5V12.8743H10.5776V19H13.1361V12.8743H15.0448Z" fill="inherit"></path>
                                </svg>
                            </a>
                            <a class="footer_social" href="https://www.instagram.com/oleksandr.dzhurynskyi/" target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M15.1768 8.13928C14.7893 8.13928 14.4727 8.45596 14.4727 8.84338C14.4727 9.2308 14.7893 9.54748 15.1768 9.54748C15.5642 9.54748 15.8809 9.2308 15.8809 8.84338C15.8809 8.45596 15.5676 8.13928 15.1768 8.13928Z" fill="inherit"></path>
                                    <path d="M12.0507 9.04211C10.4202 9.04211 9.09619 10.3695 9.09619 11.9966C9.09619 13.6272 10.4235 14.9512 12.0507 14.9512C13.6812 14.9512 15.0052 13.6238 15.0052 11.9966C15.0052 10.3695 13.6812 9.04211 12.0507 9.04211ZM12.0507 13.8933C11.0063 13.8933 10.1574 13.0444 10.1574 12C10.1574 10.9556 11.0063 10.1067 12.0507 10.1067C13.0951 10.1067 13.944 10.9556 13.944 12C13.944 13.041 13.0951 13.8933 12.0507 13.8933Z" fill="inherit"></path>
                                    <path d="M14.3953 18H9.6047C7.61705 18 6 16.3829 6 14.3953V9.60472C6 7.61707 7.61705 6 9.6047 6H14.3953C16.3829 6 18 7.61707 18 9.60472V14.3953C18 16.3829 16.3829 18 14.3953 18ZM9.6047 7.12521C8.2403 7.12521 7.12857 8.23695 7.12857 9.60135V14.3919C7.12857 15.7563 8.2403 16.8681 9.6047 16.8681H14.3953C15.7597 16.8681 16.8714 15.7563 16.8714 14.3919V9.60135C16.8714 8.23695 15.7597 7.12521 14.3953 7.12521H9.6047Z" fill="inherit"></path>
                                </svg>
                            </a>
                            <a class="footer_social" href="https://www.linkedin.com/in/odzhurynskyi/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                    <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="inherit"></rect>
                                    <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" transform="scale(0.8) translate(2, 2)"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="footer_initials_col_wrapper">
                    <div class="footer_info_col footer_info_order-1">
                        <p class="footer_info_name">РОДИНА</p>
                        <ul class="footer_info_nav">
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/rodina/rodinna-filosofiya">Родинна філософія</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/rodina/biography/vitaliy-dghurinsykiy">Біографії</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/rodina/rodinniy-gerb">Родинний герб</a></li>
                        </ul>
                    </div>

                    <div class="footer_info_col footer_info_order-2">
                        <p class="footer_info_name">БІЗНЕС</p>
                        <ul class="footer_info_nav">
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/business/avtomobilniy-biznes">Автомобільний
                                    бізнес</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/business/strahoviy-biznes">Страховий
                                    бізнес</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/business/lizingoviy-biznes">Лізинговий
                                    бізнес</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/business/motobiznes">Мотобізнес</a>
                            </li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/business/logistichniy-biznes">Логістичний
                                    бізнес</a></li>
                        </ul>
                    </div>

                    <div class="footer_info_col footer_info_order-3">
                        <p class="footer_info_name">СОЦІАЛЬНІ ІНВЕСТИЦІЇ</p>
                        <ul class="footer_info_nav">
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/investicii/blagodiyni-proekti/">Благодійні проєкти</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/investicii/dopomoga-silam-obroni-ukraini/">Допомога Силам Оборони України</a></li>
                        </ul>
                    </div>

                    <div class="footer_info_col footer_info_order-4">
                        <p class="footer_info_name">НЬЮЗРУМ</p>
                        <ul class="footer_info_nav">
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/news/">Новини</a>
                            </li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/publications/">Публікації</a>
                            </li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/events/">Пам’ятні подіі</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/photo/">Фото</a></li>
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="/video/">Відео</a></li>
                        </ul>
                    </div>

                    <div class="footer_info_col footer_info_order-5">
                        <p class="footer_info_name">КОНТАКТИ</p>
                        <ul class="footer_info_nav">
                            <li class="footer_info_nav_item"><a class="footer_info_nav_link" href="mailto:dzhurynskyi.family@vidi.ua">dzhurynskyi.family@vidi.ua</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <p class="footer_license">© 2024 Dzhurynskyi Family. All rights reserved.</p>
        </div>

    </div>
</footer>