<header class="p-3 text-white header-sticky">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="logo" src="{{ asset('img/logo/logo.png') }}">
            </a>

            <ul class="nav col-8 col-lg-auto header justify-content-center ">
                <li><a href="#" >HOME</a></li>
                <li><a href="#" >FEATURES</a></li>
                <li><a href="#" >PRICING</a></li>
                <li><a href="#" >FAQS</a></li>
                <li><a href="#" >ABOUT</a></li>
            </ul>
        </div>
    </div>
</header>

<style>
    a:hover{
        color: #9122d4;
        text-decoration: none;
    }
</style>